<div class="panel" >
  <h3>New assignment</h3>
  <div>
  	
	<div style="padding:5px; margin-left:170px;">
		<%= autocomplete_field_tag 'user', '', autocomplete_user_last_name_topic_assignments_path, 
			:id_element => '#assignment_user_id' %> Start typing the user's last name
	</div>
	
	<%= render 'form' %>
	
	<%= link_to 'Back', edit_topic_path(@topic) %>
  </div>
</div>
	
