<p><%= @user.name %>,</p>

<p>A new iteration has been started.  Your participation is appreciated.</p>

<p><%= link_to @topic_group.name, topic_group_iteration_path(@topic_group, @topic_group.iterations.last, :only_path => false) %></p>

