<p><%= @user %>,</p>

<p>A new account has been created for you.  Your credentials are email: <%= @user.email %> and password: <%= @password %></p>

<p><%= link_to 'Specializ.com', root_url, :only_path => false %></p>