<p class="fields">
  <%= f.label :name, "Attribute" %>
  <%= f.text_field :name %>
  <%= f.select :element_attribute_type_id, @element_attribute_types.map{ |t| [t.name, t.id] }%>
  <%= link_to_remove_fields image_tag('trashcan.png'), f %>
</p>

