<h3>Libraries</h3>
<div>
	<table id="library_topic_group_table" class="display fouc">
	 <thead>
	  <tr>
	    <th class="center">Topic group</th>
	    <th class="center">Library</th>
	    
	    <th class="center">Remove</th>
	  </tr>
	 </thead>
	 <tbody>
	   
	 </tbody>
	</table>
</div>


<%= button_to 'Populate Topic', topic_populate_from_library_path(@topic), :confirm => 'Populate the topic from the selected libraries?'  %> 

