<section class="round">


</br>

	<%=raw jqgrid("Assignments", "assignments", "/assignments", 
	[ 
	   
	  { :field => "id", :label => "id", :width => 25, :editable => false, :hidden => false }, 
	   
	  { :field => "name", :label => "User", :width => 400, :editable => false },

	  { :field => "group", :label => "Topic Group", :width => 55, :editable => false }

	
	], { :add => true, :edit => true, :inline_edit => true, :edit_url => "/assignments/post_data"}
	
	  ) %>

 
</section>
<%= link_to 'New Assignment', new_assignment_path %>