<%= select_tag(:topic, options_from_collection_for_select(@topics, :id, :name ), 
	{ :onchange => "window.location.pathname = 'topics/'+(this.value)+'/edit'", :selected => "this", 
	:include_blank => 'Existing Topics'  }) %>


<div id="manager_tabs">
	<ul>
		<li><a href="#tabs-1">Setup</a></li>
		<li><a href="#tabs-2">Configure</a></li>
		<li><a href="#tabs-3">Staff</a></li>
	</ul>
	<div id="tabs-1">
		<%= render 'form' %>
	</div>
	<div id="tabs-2">
		<p>This tab will be used to selecting groupings to participate in the topic.</p>
	</div>
	<div id="tabs-3">
		<p>This tab will be used to staff the topic groups.</p>
	</div>
</div>
