<script type="text/javascript" charset="utf-8">
	window.onload = function(){ mTabs.tabs({disabled: [1, 2]}); }
</script>

<div class="collapsibleContainer" title="Topics" >
	<%= render 'tabs' %>
</div>
