<div>
	<table id="objectives_table" class="display fouc" data-source="<%= library_library_objectives_url(@library, format: 'json') %>">
	 <thead>
	  <tr>
	  	<th class="center">Num</th>
	    <th class="center">Name</th>
		<th class="center">Description</th>
	    <th></th>
	  </tr>
	 </thead>
	 <tbody>
		
	 </tbody>
	</table>
</div>