
<div id="library_tabs" class="ui-tabs fouc">
	<ul>
		<li><a href="#tabs-1">Library</a></li>
		<li><a href="#tabs-2">Objectives</a></li>
	</ul>
	<div id="tabs-1" class="ui-tabs-hide">
		<%= render 'form' %>
	</div>
	<div id="tabs-2" class="ui-tabs-hide">
		<%= render 'objectives' %>
	</div>
</div>
