<script type="text/javascript">
function handleSelection(id) {
		
	alert('ID selected : ' + id);

}
</script>


<section class="round">


</br>


	<%=raw jqgrid("Elements", "elements", "/elements", 
	[ 
	   
	  { :field => "id", :label => "id", :width => 25 }, 
	   
	  { :field => "name", :label => "Elements", :width => 260 }
	
	], { :selection_handler => "handleSelection", :direct_selection => true }
	
	  ) %>

 
</section>