

<script type="text/javascript">
function handleSelection(id) {
		
	alert('ID selected : ' + id);

}
</script>


<%= render 'layouts/browser' %>



<section class="round">

<%= render 'elements/index' %>

 
</section>