
<script type="text/javascript">
function handleSelection(id) {
		
	alert('ID selected : ' + id);

}

  var dataSource = new YAHOO.util.XHRDataSource("/elements/elements.json");
  dataSource.responseType = YAHOO.util.XHRDataSource.TYPE_JSON;
  dataSource.responseSchema = {
   resultsList: "Resources.data",
   fields: [
      {key:"element.id"},
      {key:"element.name"}
      ]
  }




</script>


<%= render 'layouts/browser' %>



<section class="round">

	<%= raw jqgrid("Elements", "elements", "/elements", 
	[ 
	   
	  { :field => "id", :label => "id", :width => 25,  :hidden => false }, 
	   
	  { :field => "name", :label => "Elements", :width => 400, :editable => false,},

	  { :field => "rating", :label => "Ranking", :width => 55, :editable => true, 
			:edittype => "select", :editoptions => { :value => [[1,1], [2,2], [3,3], [4,4], [5,5]] }
            
	  }

	
	], { :add => false, :edit => true, :inline_edit => true, :edit_url => "/elements/post_data"}
	
	) %>

 
</section>