<div class="panel" >
  <h3>Consensus Goal: <%= @topic_group.goal %>% agreement</h3>
  <div>
	<p>
	  Topic Description: 
	  <%= @topic.description %> <br/>
	</p>
	
	
	<img src= <%= @topic_group.bar_chart %> />
  </div>
</div>
