<div>
	<table id="member_table">
	 <thead>
	  <tr>
	    <th>Name</th>
		<th>Email</th>
		<% if @manager %>
	    	<th>Remove</th>
		<% end %>
	    
	  </tr>
	 </thead>
	 <tbody>
		<% @participating_users.each do |user| %>
		  <tr>
		    <td><%= user.name %></td>
		    <td><%= user.email %></td>
			<% if @manager %>
		    	<td><%= link_to 'Remove?', '#' , :confirm => 'Are you sure?' %></td>
			<% end %>
		  </tr>
		<% end %>
	 </tbody>
	</table>
</div>