<div>
	<table id="member_table" class="display fouc">
	 <thead>
	  <tr>
	  	<th class="center">Submitted</th>
	    <th class="center">Name</th>
		<th class="center">Email</th>
	    <th></th>
		
	    
	  </tr>
	 </thead>
	 <tbody>
		<% participating_users.each do |user| %>
		  <tr>
		  	<td class="center">
		  	  <% if user.submitted_list?(@iteration.id) %>
		  	    <%= image_tag 'icons/tick.png' %>
		  	  <% end%>
		  	</td>
		    <td><%= user %></td>
		    <td><%= user.email %></td>
		    <td class="center">
			  <% if can? :manage, topic_group %>
				<%= link_to image_tag('icons/cross.png'), '#' , :confirm => 'Remove this user from this topic group?' %>
			  <% end %>
			</td>
		  </tr>
		<% end %>
	 </tbody>
	</table>
</div>