<div>
	<table id="participant_table" class="display fouc" data-source="<%= topic_group_iteration_participants_url(@topic_group, @iteration, format: 'json') %>">
	 <thead>
	  <tr>
	  	<th class="center">Submitted</th>
	    <th class="center">Name</th>
		<th class="center">Email</th>
	    <th></th>
	  </tr>
	 </thead>
	 <tbody>
		
	 </tbody>
	</table>
</div>