
<div id="browser">
<%= render 'layouts/browser' %>
</div>

<div id="home">
<h2> Welcome <%= @current_user.name %> </h2>

You are assigned to <%= @topic_groups.count %> active topic groups. <br>
Please select a topic to participate.


</div>
