<% if user_signed_in? %>

	<%= company_logo %>
  
   <h2>
	<%= current_user %>, you are assigned to <%= current_user.open_topic_groups.size %> active topics.  Please
    select a topic to participate.
   </h2>
  
<% end %>
