<div id="topic_group_survey_tabs" class="ui-tabs fouc">
	<ul>
		<li><a href="#tabs-1">Participate</a></li>
		<li><a href="#tabs-2">Manage</a></li>
		
	</ul>
	<div id="tabs-1" class="ui-tabs-hide">
		<%= render 'elements' %>
	</div>
	<div id="tabs-2" class="ui-tabs-hide">
	  <div id = "library" >
		<%= render 'manage' %>
      </div>
	</div>
	
</div>