<div class="browser"> 

<h3 class="title">Managed Topics</h3>
	<p class="expand">
		Topic 1 <br>
		Topic 2 
	</p>
	
<h3 class="title">Managed Topics</h3>
	<p class="expand">
		Topic 3 <br>
		Topic 4 
	</p>
<%= accordion('title', 'expand', :alwaysHide => true) %>

</div>
