<div class="browser"> 
<script type="text/javascript">
function handleSelection(id) {
	alert('ID selected : ' + id);
}
</script>
<%=raw jqgrid("My Topics", "topic_groups", "/topic_groups", 
[ 
   
  { :field => "id", :label => "id", :width => 25 }, 
   
  { :field => "name", :label => "Open Topics", :width => 260 }

], { :selection_handler => "handleSelection", :direct_selection => true }
  ) %>

</div>
