<link type="text/css" href="stylesheets/jquery-ui-1.8.16.custom.css" rel="Stylesheet" />	
<script type="text/javascript" src="javascripts/jquery-ui-1.8.16.custom.min.js"></script>


<script>
	$(function() {
		$( "#accordion" ).accordion();
	});
</script>

<div id="browser">

<h2>My Topics</h2>

<div id="accordion">
    <h3><a href="#">Open Topics</a></h3>
    <div>
		<table>
		<% @topic_groups.each do |topic_group| %>
		  <tr>
		    <td><%=link_to topic_group.name, url_for([topic_group, topic_group.iterations.last]) %> </td>
		    
		    
		  </tr>
		<% end %>
		</table>

	</div>
    <h3><a href="#">Managed Topics</a></h3>
    <div>
		<table>
		<% @topic_groups.each do |topic_group| %>
		  <tr>
		    <td><%=link_to topic_group.name, url_for([topic_group, topic_group.iterations.last]) %></td>
		    
		    
		  </tr>
		<% end %>
		</table>
	</div>
</div> 
</div> 

