<footer>
  <nav class="round">
    <ul>
	  <li><a href="http://www.peoplenetz.com"> Idea by Peoplenetz</a> </li>
	  <li><a href="http://enspherelabs.com"> Developed by Ensphere Labs</a> </li>
    </ul>
  </nav>
</footer>
