<footer>
  <nav class="round">
    <ul>
	  <li><a href="http://www.peoplenetz.com"> Idea by Peoplenetz</a> </li>
	  <li><a href="http://sabotsolutions.com"> Developed by Sabot Solutions</a> </li>
    </ul>
  </nav>
</footer>
