<footer>
  <%= link_to image_tag("peoplenetz-logo.png", :height => '25', :alt => "Peoplenetz"), "http://www.peoplenetz.com", :target => "_blank" %>
  <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=UdaQ9FUj4PVxmiH57IXOzFkWWLp5XKNx0vU19FdHgOd95OsfS4E9JpW7"></script></span>
</footer>
