<header>
  
  <%= link_to logo %>

  <nav class="round">
    <ul>
	  <li> Employee </li>
	  <li> Manager </li>
	  <li> HR </li>
	  <li> Admin </li>
	  <li> Pnetz_Admin </li>

    </ul>


  </nav>
</header>
